@tailwind base;
@tailwind components;
@tailwind utilities;

#heart input::after {
    display: block;
    content: '';
    background: url('../public/EmptyHeart.svg') no-repeat;
    width: 25px;
    height: 25px;
    visibility: visible;
    /* position: absolute; */
    /* bottom: 0; */
}

#heart input:checked:after {
    display: block;
    content: '';
    background: url('../public/FilledHeart.svg') no-repeat;
    width: 25px;
    height: 25px;
    
    /* position: absolute; */
    /* bottom: 0; */
}